body {
	width: 100%;
}

h1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 5em;
}

/*h1 {
	font-size: 3em;
}*/
header #img1 {
	float: right;
	padding-right: 5px;
	width: 80px;
	height: 35px;
}

header #img2 {
	float: right;
	padding-right: 5px;
	width: 80px;
	height: 35px;

}

header #img3 {
	float: right;
	padding-right: 5px;
	width: 80px;
	height: 35px;
}
a {
	text-decoration: none;
}
a:link {
	color: blue;
}
a:visited {
	color: red
}
a:hover {
	background-color: lightgreen;
	color: #ff9933;
}
h1:hover {
	/*background: blue;*/
}
div.row {
	margin-top: 20px;	
}